
:root {
  /* Light mode */
    --light-primary-color: #2C3E50;
    --light-secondary-color: #ECF0F1;
    --light-accent-color: #E74C3C;
    --light-text-color: #2C3E50;
    --light-light-accent-color: #FFDFDC;
    --light-accent-hover-color: #C0392B;
    --light-background-color: #ECF0F1;
    --light-alt-color: #BDC3C7;
  
  /* Dark mode */
    --dark-primary-color: #1F2F40;
    --dark-secondary-color: #34495E;
    --dark-accent-color: #C0392B;
    --dark-text-color: #BDC3C7;
    --dark-background-color: #1b1b1f;;
    --dark-accent-hover-color: #A93226;
    --dark-alt-color: #161618;
  }